.container {
  margin-top: 1rem;
}

.app-title {
  margin-bottom: 1rem;
}

.note-list {
  display: flex;
  gap: 1rem;
  overflow: auto;
  margin: -1rem;
  padding: 1rem;
}

.note-item {
  margin: 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 1rem;
}

.note-title {
  font-size: 1.125rem;
  font-weight: bold;
}
